<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Idea Student</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<form action="">
    <div class="container">
        <div id="header">
            <div id="nav">
                <div class="navbar first">
                    <button>Search </button> <input type="text">
                </div>
                <div class="navbar brand">
                    <a href="">Idea <span> Student</span></a>
                </div>
                <div class="navbar avt">
                    <a href="#">
                        <img src="img/img.jpg" alt="">
                        <span>Datho</span>
                    </a>
                </div>
                <div class="navbar">
                    <a href="#">Dang</a>
                </div>
                <div class="navbar">
                    <a href="#">messenger</a>
                </div>
                <div class="navbar">
                    <a href="#">thongbao</a>
                </div>
                <div class="navbar last">
                    <a href="#">Setting</a>
                </div>
            </div>
        </div>